body {
    background-size: cover, no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 100%;
}

.date {
    margin-top: 180px;
    margin-left: 50px;
    text-align: left;
    color: white;
    
}
h1 {
    font-size: 100px;
}

h2 {
    margin-top: -70px;
    font-size: 30px;
    padding: 0px
}

button {
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 8px;
    padding: 0px

}
p {
    margin: 0px;
}

input {
    font-size:11px;

}
 
.weather {
    border-radius: 4px;
    font-size:11px;
     color: white;
     text-align: top;
     position: relative;
     top:10px;
     left:10px;
     margin: 0px;
}

#temp {
    font-size:15px
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh
}